@tailwind base;
@tailwind components;
@tailwind utilities;


/* CARDS */
.grid-card  {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* border: 1px solid #10BBCA;
  box-shadow: 3px 3px 0 #10BBCA; 
  border-radius: 8px; */
  
  cursor: pointer;
  overflow: hidden;

  /* background: white; */

  /* min-height: 86px; */
}

.grid-card.expanded {
  overflow: unset;
}

.grid-card.expanded {
  /* border: 1px solid #000;
  box-shadow: 3px 3px 0 #000; */
}

@media screen and (min-width: 1024px) {
  .grid-card  {
     /* max-height: 86px; */

     transition-property: box-shadow, border;
     transition-duration: .1s;
     transition-timing-function: ease-out;
  }
}

@media screen and (max-width: 640px) {
  /* .grid-card h2 {
     max-width: 215px;
  } */
}
.grid-card h2 {
  /* @apply text-lg leading-tight pb-0;
  max-width: 195px; */
}

.grid-card.disabled {
  cursor: unset;
}

.grid-card.disabled div h2 {
  max-width: unset;
}

.grid-card.disabled div button {
  display: none;
}

.grid-card button {
  /* display: block;
  width: 29px;
  height: 29px;
  min-width: 29px;
  min-height: 29px;

  background-image: url(/_assets/img/icons/icon-circle-expand.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 29px 29px;
  width: 29px;
  height: 29px; */
}

.grid-card.expanded button {
  /* background-image: url(/_assets/img/icons/icon-circle-compress.svg); */
}

.grid-card .expanded-info {
  display: none;
}

@media screen and (max-width: 500px) {
  .grid-card.expanded {
     height: unset;
     max-height: 999999px;
  }
  .grid-card.expanded .expanded-info {
     display: block;
  }
}
/* 
.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 86px;
  padding: 0 1.25rem;
  padding-right: 1rem;
} */

.expanded-info {
  /* top: 86px;
  padding: 0;
  padding-bottom: 1.5rem;
  margin: 0;
  margin-left: 1.25rem; */
}

@media screen and (min-width: 1024px) {
  /* .header-container {
     position: absolute;
  } */

  /* .expanded-info {
     position: absolute;
     padding: 0;
  } */
}